body {
    background-color: #333;
    background-image: linear-gradient(to top, #000 0%, #222 100%);
    background-attachment:fixed;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: #fff;
    padding: .5in 0;
    overflow: hidden;
}
.showBody {
    overflow: visible !important;
}
#overlay {
    position:fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 9;
    /* display: none; */
}
#gameSetup {
    position:fixed;
    background-color: #fff;
    color: #696969;
    border-radius: 5px;
    box-shadow: 0 .3rem .75rem rgba(0,0,1, 0.6);
    font-size: 100%;
    display: inline-block;
    /* display: none; */
    z-index: 10;
    width: 320px;
    height: 170px;
    padding: 24px;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -120px;
}
#setPlayers {
    position: relative;
    vertical-align: middle;
}
#player-quantity {
    width: 40px;
    height: 30px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 16pt;
    color: #696969;
    border-radius: 2px;
    border: none;
    border-bottom: #ccc 2px solid;
    background-color: rgba(0, 0, 0, 0);
    margin: 15px 0 20px 0;
    padding: 2px 0px 2px 10px;
}
#begin {
    background-color: #dedede;
    color: #888;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 16pt;
    border: 2px #aaa solid;
    border-radius: 4px;
    padding: 10px 15px;
}
#begin:hover {
    background-color:#ccc;
    color: #545454;
    background-image: linear-gradient(to top, #dedede 0%, #fff 100%);
}
#begin:active {
    background-color:rgb(59, 59, 59);
    background-image: linear-gradient(to top, #545454 0%, #222 100%);
    color: #fff;
    border-color: #aaa;
    transition: 100ms;
}
#intro {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    color: #000;
    padding-top: .5in;
    padding-bottom: .5in;
    margin-bottom: .5in;
    min-width: 550px;
    width: 62%;
}
#intro>h3, #preview>h3 {
    font-size: 48pt;
    font-weight: 700;
    padding: 0 0 .25in 0;
    color: rgba(0, 0, 0, 0.8); 
}
#intro>h4, #preview>h4 {
    font-size: 24pt;
    font-weight: 500;
    padding: 0;
    margin: .5in 0;
    line-height: 20pt;
    color: rgba(0, 0, 0, 0.8); 
}
#intro>p, #preview>p {
    color: rgba(0, 0, 0, 0.6); 
    width: auto;
    padding: 0 .5in;
}
.welcome {
    color: #000; 
}
#preview {
    background-color: #777;
    border-radius: 4px;
    display: inline-block;
    width: 62%;
    color: #000;
    min-width: 550px;
    padding-bottom: .5in;
}

.horizontal {
    height: 3px;
    margin: 0.5in 10%;
    width: auto;
    background: url('images/dotted.png') repeat-x;
}
#game {
    width: 80%;
    margin: 0 10%;
    background-color: #32323266;
    height: auto;
    padding-bottom: 80px;
    border-radius: 10px;
    min-width: 550px;
}
.totalPlayers {
    color: #00aa00;
    font-weight: 700;
}
.totalSwitches {
    color: #aa0000;
    font-weight: 700;
}
.totalRooms {
    color: #0000aa;
    font-weight: 700;
}
#switchandbulbcontainer {
    margin-top: -30vh;
    height: 45vh;
    display:inline-block;
    width: 100%;
}
#switchPanel {
    position:relative;
    background-image: url('images/switchpanel.png');
    width: 100%;
    min-height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow:hidden;
}
#lightBulb {
    position:relative;
    width: 100%;
    min-height: 256px;
    max-height: 360px;
    min-width: 550px;
    margin-top: 200px;
    background-position:center bottom;
    background-size: contain;
    display: inline-flex;
    clear:both;
    margin-bottom: -10px;
    transition: 1 s;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: url('images/bulb_off.png');
}
.lightOn {
    background-image: url('images/bulb_on.png') !important;
}
#light {
    display:inline-block;
    position: relative;
    margin: auto auto -380px auto;
    width: 118px;
    height: 118px;
    border-radius: 59px;
    clear:both;
    z-index: 1;
    background-color: #f0de3d;
    -webkit-animation: glow2 1500ms ease-in-out infinite alternate;
    -moz-animation: glow2 1500ms ease-in-out infinite alternate;
    animation: glow2 1500ms ease-in-out infinite alternate;
    z-index: 1;
    transition: 1.5s;
}
@-webkit-keyframes glow2 {
  from {
    box-shadow: 0 0 12px #fff, 0 0 24px #fff, 0 0 36px #f0de3d, 0 0 48px #f0de3d, 0 0 60px #f0de3d, 0 0 72px #f0de3d, 0 0 84px #f0de3d;
  }
  to {
    box-shadow: 0 0 12px #fff, 0 0 24px #fffeae, 0 0 36px #fffeae, 0 0 48px #fffeae, 0 0 60px #fffeae, 0 0 72px #fffeae, 0 0 84px #fffeae;
  }
}
.switches {
    width: 80px;
    height: 80px;
    background-position-x: left;
    background-size: 240px 80px;
    display: inline-block;
    margin-top: 85px;
    cursor:pointer;
    transition: 0s;
}
.switches:hover {
    background-position-x: -80px;
}
.switches:active {
    background-position-x: 80px;
}
#switch0 {
    background-image: url('images/lightswitch_red.png');
}
#switch1 {
    background-image: url('images/lightswitch_blue.png');
}
#switch2 {
    background-image: url('images/lightswitch_green.png');
}
#switch3 {
    background-image: url('images/lightswitch_yellow.png');
}
#switch4 {
    background-image: url('images/lightswitch_purple.png');
}
#switch5 {
    background-image: url('images/lightswitch_white.png');
}
.offSwitch {
    background-position-x:80px !important;
    cursor: default !important;
    filter: grayscale(50%) brightness(80%);
    transition: 1s;
    transition-property: vertical;
}
.hidden {
    display: none !important;
}
.invisible {
    opacity: 0;
}
.players {
    display: inline-block;
    padding: .5in;
    /* background-image: linear-gradient(to top, rgb(15, 48, 138) 0%,rgb(31, 57, 177) 100%);
    background-color: rgb(15, 48, 138);
    border: 2px solid rgb(74, 112, 226); */
    background-color: #4653a4;
    border: 2px solid #6775B8;
    color: rgba(255,255,255,.6);
    border-radius: 7px;
    text-transform: lowercase;
    margin: 20px 10px;
    box-shadow: 0 .2rem .5rem rgba(0,0,0, 0.6);
    font-size: 14pt;
    transition: 600ms;
}
.activePlayer {
    /* background-image: linear-gradient(to top, rgb(68, 129, 209) 0%,rgb(134, 179, 236) 100%) !important;
    background-color: rgb(56, 111, 182);
    border: 2px solid rgb(159, 192, 253); */
    background-color: #5E9EEA;
    border: 2px solid #fff;
    font-weight: 700;
    color: rgba(255,255,255,1);
    transition: 600ms;
}
.offPlayer {
    background-image: linear-gradient(to top, rgb(117, 30, 30) 0%, rgb(204, 54, 54) 100%) !important;
    border: 2px solid rgb(100, 7, 7);
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    filter: grayscale(100%) brightness(.33);
    transition: 600ms;
}
.winnerPlayer {
    background-image: linear-gradient(to top, rgb(209, 160, 68) 0%,rgb(230, 219, 120) 100%) !important;
    background-color: rgb(230, 219, 120);
    border: 2px solid rgb(209, 173, 14);
    color: #fff;
    -webkit-animation: glow 1500ms ease-in-out infinite alternate;
    -moz-animation: glow 1500ms ease-in-out infinite alternate;
    animation: glow 1500ms ease-in-out infinite alternate;
    text-shadow: 0 0 8px #ffffff;
    font-weight: 700;
    transition: 1.5s;
}
@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #f0de3d, 0 0 16px #f0de3d, 0 0 20px #f0de3d, 0 0 24px #f0de3d, 0 0 28px #f0de3d;
  }
  to {
    box-shadow: 0 0 4px #fff, 0 0 8px #fffeae, 0 0 12px #fffeae, 0 0 16px #fffeae, 0 0 20px #fffeae, 0 0 24px #fffeae, 0 0 28px #fffeae;
  }
}
#playersContainer {
    width:100%;
    min-width: 620px;
    display:inline-flexbox;
}
#runningScores {
    position:relative;
    text-align: left;
    margin-left: .25in;
    padding: .25in;
    background-color:rgb(66, 126, 66);
    box-shadow: 0 .2rem .5rem rgba(0,0,0, 0.6);
    width: 200px;
    border-radius: 4px;
    color: rgba(255,255,255, 0.6);
    margin-bottom: -10%;
    top: -115px;
    z-index: 4;
}
.hiScoreLeader {
    font-weight: 700;
    color: #fff;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    color:rgba(255, 255, 255, 0.2);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 0;
}
#clearScores {
    cursor: pointer;
    text-decoration: underline;
}
#clearScores:hover {
    color: #fff;
}
#clearScores:active {
    color: rgba(0,0,0, 0.6);
}
#newGameBtn {
    position:absolute;
    background-color:rgb(59, 59, 59);
    background-image: linear-gradient(to top, rgb(77,77,77) 0%, rgb(104, 104, 104) 100%);
    border-radius: 5px;
    box-shadow: 0 .3rem .75rem rgba(0,0,1, 0.6);
    font-size: 18pt;
    display: inline-block;
    text-align: center;
    z-index: 4;
    width: 200px;
    height: 25px;
    padding: .25in;
    transition: 250ms;
    line-height: 20pt;
    left:0;
    top:200px;
    cursor:pointer;
    color: rgba(255,255,255,.6);
}
#newGameBtn:hover {
    background-image: linear-gradient(to top, rgb(77,77,77) 0%, rgb(145, 145, 145) 100%);
    color: #fff;
}
#newGameBtn:active {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgb(131, 131, 131) 0%, rgb(190, 190, 190) 100%);
    box-shadow: 0 .2rem .5rem rgba(0,0,1, 0.6);
}
#roomSign {
    position:relative;
    display:inline-block;
    background-image: url('images/room_sign.png');
    background-size:80%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    z-index: 4;
    padding: .5in;
    font-size: 24pt;
}
.round {
}

#message {
    display: block;
    background-color: rgba(255,255,255, 0.6);
    box-shadow: 0 .3rem .75rem rgba(0,0,1, 0.6);
    padding:.25in;
    border-radius: 4px;
    width: 200px;
    margin-left: .25in;
    margin-top: 135px;
    height: 80px;
    margin-bottom: -260px;
    position: relative;
    color: #000;
    z-index: 4;
    text-align: left;
    transition: 300ms;
    line-height: 16pt;
}
.msg-red {
    background-color: rgba(255, 0, 0, 0.6) !important;
    transition: 0ms !important;
}
.msg-grn {
    background-color: rgba(0, 255, 0, 0.6) !important;
    transition: 0ms !important;
}
.msg-gld {
    background-color: rgba(230, 219, 120, 1) !important;
    transition: 0ms !important;
}