body {
    background-color: #333;
    background-image: linear-gradient(to top, #000 0%, #222 100%);
    background-attachment:fixed;
    height: 100vh;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: #fff;
    padding: .5in 0;
    overflow: hidden;
}
.showBody {
    overflow: visible !important;
}
#overlay {
    position:fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 9;
    /* display: none; */
}
#gameSetup {
    position:fixed;
    background-color: #fff;
    color: #696969;
    border-radius: 5px;
    box-shadow: 0 .3rem .75rem rgba(0,0,1, 0.6);
    font-size: 100%;
    display: inline-block;
    /* display: none; */
    z-index: 10;
    top: 35%;
    bottom: 35%;
    left:33%;
    right: 33%;
    width:auto;
    height:auto;
    min-width: 320px;
    min-height: 130px;
    padding: .25in;
}
#setPlayers {
    position: relative;
    vertical-align: middle;
}
#player-quantity {
    width: 40px;
    height: 30px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 16pt;
    color: #696969;
    border-radius: 2px;
    border: none;
    border-bottom: #ccc 2px solid;
    background-color: rgba(0, 0, 0, 0);
    margin: 15px 0 20px 0;
    padding: 2px 0px 2px 10px;
}
#begin {
    background-color: #dedede;
    color: #888;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 16pt;
    border: 2px #aaa solid;
    border-radius: 4px;
    padding: 10px 15px;
}
#begin:hover {
    background-color:#ccc;
    color: #545454;
    background-image: linear-gradient(to top, #dedede 0%, #fff 100%);
}
#begin:active {
    background-color:rgb(59, 59, 59);
    background-image: linear-gradient(to top, #545454 0%, #222 100%);
    color: #fff;
    border-color: #aaa;
    transition: 100ms;
}
#intro {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    color: #000;
    padding-top: .5in;
    padding-bottom: .5in;
    margin-bottom: .5in;
    min-width: 550px;
    width: 62%;
}
#intro>h3, #preview>h3 {
    font-size: 48pt;
    font-weight: 700;
    padding: 0 0 .25in 0;
    color: rgba(0, 0, 0, 0.8); 
}
#intro>h4, #preview>h4 {
    font-size: 24pt;
    font-weight: 500;
    padding: 0;
    margin: .5in 0;
    line-height: 20pt;
    color: rgba(0, 0, 0, 0.8); 
}
#intro>p, #preview>p {
    color: rgba(0, 0, 0, 0.6); 
    width: auto;
    padding: 0 .5in;
}
.welcome {
    color: #000; 
}
#preview {
    background-color: #777;
    border-radius: 4px;
    display: inline-block;
    width: 62%;
    color: #000;
    min-width: 550px;
    padding-bottom: .5in;
}

.horizontal {
    height: 3px;
    margin: 0.5in 10%;
    width: auto;
    background: url('images/dotted.png') repeat-x;
}
#game {
    width: 80%;
    margin: 0 10%;
    background-color: #32323266;
    height: auto;
    padding-bottom: 80px;
    border-radius: 10px;
    min-width: 550px;
}
.totalPlayers {
    color: #00aa00;
    font-weight: 700;
}
.totalSwitches {
    color: #aa0000;
    font-weight: 700;
}
.totalRooms {
    color: #0000aa;
    font-weight: 700;
}
#switchandbulbcontainer {
    margin-top: -30vh;
    height: 45vh;
    display:inline-block;
    width: 100%;
}
#switchPanel {
    position:relative;
    background-image: url('images/switchpanel.png');
    width: 100%;
    min-height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow:hidden;
}
#lightBulb {
    position:relative;
    width: 100%;
    min-height: 256px;
    max-height: 360px;
    min-width: 550px;
    background-position:center bottom;
    background-size: contain;
    display: inline-flex;
    clear:both;
    margin-bottom: -10px;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url('images/bulb_off.png');
}
.lightOn {
    background-image: url('images/bulb_on.png') !important;
}
.switches {
    width: 80px;
    height: 80px;
    background-position-x: left;
    background-size: 240px 80px;
    display: inline-block;
    margin-top: 85px;
    cursor:pointer;
    transition: 0s;
}
.switches:hover {
    background-position-x: -80px;
}
.switches:active {
    background-position-x: 80px;
}
#switch0 {
    background-image: url('images/lightswitch_red.png');
}
#switch1 {
    background-image: url('images/lightswitch_blue.png');
}
#switch2 {
    background-image: url('images/lightswitch_green.png');
}
#switch3 {
    background-image: url('images/lightswitch_yellow.png');
}
#switch4 {
    background-image: url('images/lightswitch_purple.png');
}
#switch5 {
    background-image: url('images/lightswitch_white.png');
}
.offSwitch {
    background-position-x:80px !important;
    cursor: default !important;
    filter: grayscale(50%) brightness(80%);
    transition: 1s;
    transition-property: vertical;
}
.hidden {
    display: none !important;
}
.players {
    display: inline-block;
    padding: .5in;
    background-image: linear-gradient(to top, rgb(14, 37, 100) 0%,rgb(31, 57, 177) 100%);
    border: 2px solid rgb(74, 112, 226);
    color: rgba(255,255,255,.6);
    border-radius: 7px;
    text-transform: lowercase;
    margin: 20px 10px;
    box-shadow: 0 .2rem .5rem rgba(0,0,0, 0.6);
    font-size: 14pt;
    transition: 600ms;
}
.activePlayer {
    background-image: linear-gradient(to top, rgb(56, 111, 182) 0%,rgb(134, 179, 236) 100%) !important;
    border: 2px solid rgb(159, 192, 253);
    font-weight: 700;
    color: rgba(255,255,255,1);
    transition: 600ms;
}
.offPlayer {
    background-image: linear-gradient(to top, rgb(117, 30, 30) 0%, rgb(187, 87, 87) 100%) !important;
    border: 2px solid rgb(100, 7, 7);
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    filter: grayscale(100%) brightness(.33);
    transition: 600ms;
}
#playersContainer {
    width:100%;
    min-width: 620px;
    display:inline-flexbox;
}
#runningScores {
    position:relative;
    text-align: left;
    margin-left: .25in;
    padding: .25in;
    background-color:rgb(66, 126, 66);
    box-shadow: 0 .2rem .5rem rgba(0,0,0, 0.6);
    width: 200px;
    border-radius: 4px;
    color: rgba(255,255,255, 0.6);
    margin-bottom: -10%;
    top: 20px;
    z-index: 4;
}
.hiScoreLeader {
    font-weight: 700;
    color: #fff;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    color:rgba(255, 255, 255, 0.2);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 0;
}
#clearScores {
    cursor: pointer;
    text-decoration: underline;
}
#clearScores:hover {
    color: #fff;
}
#clearScores:active {
    color: rgba(0,0,0, 0.6);
}
#newGameBtn {
    position:absolute;
    background-color:rgb(59, 59, 59);
    background-image: linear-gradient(to top, rgb(77,77,77) 0%, rgb(104, 104, 104) 100%);
    border-radius: 5px;
    box-shadow: 0 .3rem .75rem rgba(0,0,1, 0.6);
    font-size: 18pt;
    display: inline-block;
    text-align: center;
    z-index: 4;
    width: 200px;
    height: 25px;
    padding: .25in;
    transition: 250ms;
    line-height: 20pt;
    left:0;
    top:200px;
    cursor:pointer;
    color: rgba(255,255,255,.6);
}
#newGameBtn:hover {
    background-image: linear-gradient(to top, rgb(77,77,77) 0%, rgb(145, 145, 145) 100%);
    color: #fff;
}
#newGameBtn:active {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgb(131, 131, 131) 0%, rgb(190, 190, 190) 100%);
    box-shadow: 0 .2rem .5rem rgba(0,0,1, 0.6);
}
#roomSign {
    position:relative;
    display:inline-block;
    background-image: url('images/room_sign.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    z-index: 4;
    margin-right: .25in;
    padding: .25in;
    width: 200px;
    height: auto;
    font-size: 3.5vw;
    bottom: 0%;
    top: 0%;
    float: right;
}
.round {
    font-size: 48pt;
    display:block;
    position:relative;
    height: 45%;
    margin-top: 70%;
    width:100%;
    vertical-align: baseline;
    lineheight: 100%;
}